<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TestWebConfig" value="OK" />
    <!--Defined value: "", "all", or tokenName list delimited by commas-->
    <!--<add key="TransformJsonAppSettingTokens" value="ConnectionStrings,AppConfig" />-->
    <add key="TransformJsonAppSettingTokens" value="all" />
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore requestTimeout="08:20:00" processPath="bin\Debug\net9.0\SM.Store.Api.Web.exe" arguments="" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" hostingModel="InProcess">
      <environmentVariables>
        <!--<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />-->
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
        <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="443" />
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="LOCAL" />
      </environmentVariables>
    </aspNetCore>
    <httpProtocol>
      <!--<customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
    </customHeaders>-->
    </httpProtocol>
  </system.webServer>
</configuration>